{% extends "page/layout.html" %}
{%block title%} Blog {%endblock%}
{%block content%}
    <h2 class="w-100 text-center p-3 text-danger">Phân chia công việc</h2>
    <table class = "table w-75">
        <thead class ="thead-dark bg-secondary">
            <tr>
                <td>STT</td>
                <td>Họ tên</td>
                <td>Công việc</td>
                <td>Hoàn thành</td>
            </tr>
        </thead>
        <tr>
            <td>11</td>
            <td>Hoàng Trường Giang</td>
            <td>Thiết kế giao diện, làm hóa đơn, chi tiết hóa đơn, đánh giá sản phẩm, tìm kiếm nâng cao</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Nguyễn Trần Tuấn Huy</td>
            <td>Làm trang admin, hiển thị chi tiết sản phẩm, hiển thị danh sách sản phẩm theo loại</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>44</td>
            <td>Lê Đức Tú</td>
            <td>Làm đăng nhập, đăng ký, đăng xuất, tìm kiếm, giỏ hàng, thanh toán</td>
            <td>100%</td>
        </tr>
    </table>
{%endblock%}