{% extends "page/layout.html" %}
{% block title %}Chi Tiết Sản Phẩm{% endblock %}
{% load custom_filters %}
{% load static %}
{% block content %}
    <div class="container-fluid" style="margin: 20px 0 20px 0;">
        <div class="row">
            <div class="col-5">
                <div class="main-image" style="margin-left: 100px;">
                    <img src="{{ sanpham.HinhAnh.url }}" alt="Ảnh sản phẩm" id="mainImg" height="400xp">
                </div>
                <div class="sub-images">
                    {% for anhphu in sanpham.anhphu_set.all %}
                        <img src="{{ anhphu.Anh.url }}" alt="Ảnh sản phẩm phụ" class="sub-image" onclick="changeImage(this)" height="150px">
                    {% endfor %}
                </div>
            </div>
    
            <div class="col-7" style="background-color: #f1f1f1;">
                <div style="margin-left: 10px;">
                    <h3 style="margin-top: 5px;">{{ sanpham.TenSP }}
                        {% if sanpham.GiamGia != 0 %}
                            <span class="Discount_badge" style="position: relative; display: inline-block;">-{{ sanpham.GiamGia }}%</span>
                        {% endif %}
                    </h3>
                    <p style="font-weight: bold; color: #707070;">Mã sản phẩm: {{ sanpham.id }}</p>
                    <div>
                        {% with sanpham.So_sao|star_rating as rating %}
                            {% for _ in rating.full_stars %}
                                <i class="fa-solid fa-star"></i>
                            {% endfor %}
                            {% if rating.half_star %}
                                <i class="fa-solid fa-star-half-alt"></i>
                            {% endif %}
                            {% for _ in rating.empty_stars %}
                                <i class="fa-regular fa-star"></i>
                            {% endfor %}
                        {% endwith %}
                        <span style="margin-left: 10px; color: #767676">(Đã bán: {{ sanpham.SLBan }})</span>
                        <div style="margin-top: 30px; margin-bottom: 30px;">
                            {% if sanpham.GiamGia != 0 %}
                                    <span class="Detail_price">{{ sanpham.Tien_sau_giamgia|add_commas }} ₫</span>
                                    <span class="Product_full_price" style="margin-left: 20px;">{{ sanpham.DonGia|add_commas }} ₫</span>
                                {% else %}
                                    <span class="Detail_price">{{ sanpham.Tien_sau_giamgia|add_commas }} ₫</span>
                            {% endif %}
                        </div>
                        <div>
                            <p><b>Mô tả:</b> {{ sanpham.MoTa }}</p>
                        </div>
                        <div style="width: 350px; margin-top: 50px;">   
                            <form method="GET" action="{% url 'ThemVaoGioHang' sanpham.id %}" class="d-flex">
                                <div class="input-group mb-3" style="width: 150px;">
                                    <button class="btn btn-outline-secondary" type="button" id="subtractQty">-</button>
                                    <input type="number" id="quantity" name="quantity" class="form-control text-center" value="1" min="1">
                                    <button class="btn btn-outline-secondary" type="button" id="addQty">+</button>
                                </div>
                                <button type="submit" class="btn btn-success ms-auto" style="height: 40px;">
                                    <i class="fa fa-shopping-cart" style="padding-right: 10px;"></i>Thêm vào giỏ hàng
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <div style="margin-top: 100px;">
            <div class="col-7">
                <div class="product-rating-comment">
                    <h4>Đánh giá sản phẩm</h4>
                    {% if request.user.is_authenticated %}
                    <form method="POST" action="{% url 'ChiTiet' sanpham.id %}" id="ratingForm">
                        {% csrf_token %}
                        <div class="mb-3 d-flex">
                            <label for="rating" style="margin-top: 12px; margin-right: 5px;">Đánh giá:</label>
                            <div class="rating">
                                <input type="radio" id="r1" name="rating" value="1">
                                <label for="r1"></label>
                                <input type="radio" id="r2" name="rating" value="2">
                                <label for="r2"></label>
                                <input type="radio" id="r3" name="rating" value="3">
                                <label for="r3"></label>
                                <input type="radio" id="r4" name="rating" value="4">
                                <label for="r4"></label>
                                <input type="radio" id="r5" name="rating" value="5">
                                <label for="r5"></label>
                            </div>
                        </div>
                        <div class="mb-3 d-flex" style="margin-top: 40px;">
                            <div style="width: 150px; word-wrap: break-word; text-align: center; margin-right: 10px;">
                                <img src="{% static 'icons/user.png' %}" alt="Ảnh đại diện" height="40px">
                                <p>{{ request.user }}</p>
                            </div>
                            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary ms-auto">Gửi</button>
                        </div>
                    </form>
                    <div id="commentList">
                        {% for dg in danhgia %}
                        <div class="mb-3 d-flex" style="margin-top: 50px;">
                            <div style="width: 150px; word-wrap: break-word; text-align: center; margin-right: 10px;">
                                <img src="{% static 'icons/user.png' %}" alt="Ảnh đại diện" height="40px">
                                <p>{{ dg.user }}</p>
                            </div>
                            <textarea class="form-control" id="comment" name="comment" rows="3">{{ dg.BinhLuan }}</textarea>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="text-center m-5">
                        <h5>Vui lòng đăng nhập để đánh giá sản phẩm</h5>
                    </div>
                    <div id="commentList">
                        {% for dg in danhgia %}
                        <div class="mb-3 d-flex" style="margin-top: 50px;">
                            <div style="width: 150px; word-wrap: break-word; text-align: center; margin-right: 10px;">
                                <img src="{% static 'icons/user.png' %}" alt="Ảnh đại diện" height="40px">
                                <p>{{ dg.user }}</p>
                            </div>
                            <textarea class="form-control" id="comment" name="comment" rows="3">{{ dg.BinhLuan }}</textarea>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
