{% extends "page/admin_layout.html" %}
{%block title%} Danh mục loại{%endblock%}
{%block content%}
    <div class="container" style="margin-bottom: 50px; margin-top: 50px;">
        <div class="title-page">
            <h4>Danh MỤC LOẠI</h4>
        </div>

        <table class="table w-75 table-bordered table-hover">
            <thead class = "table-dark bg-secondary">
                <tr>
                    <th>Mã loại</th>
                    <th>Tên thể loại</th>
                </tr>
            </thead> 
            {%for t1 in DM_Loai%}
            <tr>
                <td>
                    {{t1.id}}
                </td>
                <td>
                    {{t1.TenLoai}}
                </td>
            </tr>
            {%endfor%}
        </table>

        <!-- Hiển thị phân trang -->
        <div class="pagination d-flex justify-content-end" style="margin-top: 50px;">
            {% if DM_Loai.paginator.num_pages > 1 %}
                <span class="step-links">
                    {% if DM_Loai.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{ DM_Loai.previous_page_number }}">Previous</a>
                    {% endif %}
        
                    <!-- Hiển thị các số trang gần trang hiện tại -->
                    {% for num in DM_Loai.paginator.page_range %}
                        {% if DM_Loai.number == num %}
                            <span class="current">{{ num }}</span>
                        {% elif num > DM_Loai.number|add:"-3" and num < DM_Loai.number|add:"3" %}
                            <a href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
        
                    {% if DM_Loai.has_next %}
                        <a href="?page={{ DM_Loai.next_page_number }}">Next</a>
                        <a href="?page={{ DM_Loai.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            {% endif %}
        </div>
    </div>
{%endblock%}