{% extends "page/layout.html" %}
{% block title %} Giỏ hàng {% endblock %}
{% load custom_filters %}
{% block content %}
    <div class="container" style="margin-bottom: 50px; margin-top: 50px;">
        <div class="title-page">
            <h4>GIỎ HÀNG</h4>
        </div>

        <div class="d-flex justify-content-end" id="Lich_su_dat_hang" style="margin-bottom: 20px;">
            <a href="{% url 'LichSuDatHang' %}">Lịch sử đặt hàng</a>
        </div>

        {% if GioHang %}
            <table class = "table text-center">
                <thead class ="thead-dark bg-secondary table-dark">
                    <tr>
                        <td>Hình</td>
                        <td>Tên sản phẩm</td>
                        <td>Đơn giá</td>
                        <td>Số lượng</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in GioHang %}
                        <tr>
                            <td><img src="{{ item.san_pham.HinhAnh.url }}" alt="{{ sp.TenSP }}" style="max-height: 100px;"></td>
                            <td><a href="{% url 'ChiTiet' item.san_pham.id  %}">{{ item.san_pham.TenSP }}</a></td>
                            <td>{{ item.san_pham.DonGia|add_commas }} ₫</td>
                            <td>{{ item.so_luong }}</td>
                            <td>
                                <a id="Delete_item_from_cart" href=" {% url 'XoaKhoiGioHang' item.id %}">Xóa sản phẩm</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex" style="margin-top: 50px;">
                <h4 class="ms-auto">Tổng tiền: {{ tong_tien|add_commas }} ₫</h4>
            </div>
            
            <div class="d-flex" id="Cart_button" style="margin-top: 50px;">
                <a class="me-auto bg-primary" href="{% url 'TrangChu' %}">Quay lại trang chính</a>
                <a class="ms-auto bg-primary" href="{% url 'ThanhToan' %}">Thanh toán</a>
            </div>
        {% else %}
            <div class="d-flex justify-content-center" style="margin-top: 50px;">Giỏ hàng của bạn trống</div>
        {% endif %}
    </div>

{% endblock %}
