{% extends "page/layout.html" %}
{%block title%} Liên hệ{%endblock%}
{%block content%}
    <h2 class="w-100 text-center p-3 text-danger">Nhóm 6</h2>
    <table class = "table w-75">
        <thead class ="thead-dark bg-secondary">
            <tr>
                <td>STT</td>
                <td>Họ tên</td>
                <td>SDT</td>
                <td>Đề tài</td>
            </tr>
        </thead>
        <tr>
            <td>11</td>
            <td>Hoàng Trường Giang</td>
            <td>0366037415</td>
            <td>22</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Nguyễn Trần Tuấn Huy</td>
            <td>0932677842</td>
            <td>22</td>
        </tr>
        <tr>
            <td>44</td>
            <td>Lê Đức Tú</td>
            <td>0865632776</td>
            <td>22</td>
        </tr>
    </table>
{%endblock%}