{% extends "page/layout.html" %}

{% block title %}
    Trang chủ
{% endblock %}

{% load static %}
{% load custom_filters %}

{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/slider_1.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/slider_2.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/slider_3.png' %}" class="d-block w-100" alt="...">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <section class="Section_Product">
        <div class="title_module_main">
            <h2><a href="#"><img src="{% static 'icons/sale.png' %}">Khuyến mãi sốc</a></h2>
        </div>

        <div style="margin: 0 100px 0 100px; display: grid; grid-template-columns: repeat(6, 1fr);">
            {% for sp in san_pham_khuyen_mai %}
            <div class="product_item" style="text-align: center; position: relative; margin-top: 20px;">
                <div class="Product_thumnail">
                    <span class="label_sale">-{{ sp.GiamGia }}%</span>
                    <a href="#"><img src="{{ sp.HinhAnh.url }}" alt="{{ sp.TenSP }}" style="max-height: 150px;"></a>
                </div>
                <div style="height: 48px; margin-bottom: 5px;" class="Product_name"><a href="#">{{ sp.TenSP }}</a></div>
                <div>
                    {% with sp.So_sao|star_rating as rating %}
                        {% for _ in rating.full_stars %}
                            <i class="fa-solid fa-star"></i>
                        {% endfor %}
                        {% if rating.half_star %}
                            <i class="fa-solid fa-star-half-alt"></i>
                        {% endif %}
                        {% for _ in rating.empty_stars %}
                            <i class="fa-regular fa-star"></i>
                        {% endfor %}
                    {% endwith %}
                </div>
                <span style="font-weight: bold; color: #707070;">Mã sản phẩm: {{ sp.id }}</span>
                <div>
                    <span class="Product_after_discount">{{ sp.Tien_sau_giamgia|add_commas }} ₫</span>
                    <span class="Product_full_price">{{ sp.DonGia|add_commas }} ₫</span>
                </div>

                <div class="product_buttons">
                    <a class="add_to_cart_button" href="{% url 'ThemVaoGioHang' sp.id %}"><i class="fa-solid fa-cart-shopping"></i></a>
                    <a class="view_details_button" href="{% url 'ChiTiet' sp.id %}"><i class="fa-regular fa-eye"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="Section_Product">
        <div class="title_module_main">
            <h2><a href="#"><img src="{% static 'icons/social-media.png' %}">Có thể bạn sẽ thích</a></h2>
        </div>

        <div style="margin: 0 100px 0 100px; display: grid; grid-template-columns: repeat(6, 1fr);">
            {% for sp in san_pham_ban_chay %}
            <div class="product_item" style="text-align: center; position: relative; margin-top: 20px;">
                <div class="Product_thumnail">
                    {% if sp.GiamGia != 0 %}
                            <span class="label_sale">-{{ sp.GiamGia }}%</span>
                    {% endif %}
                    <a href="#"><img src="{{ sp.HinhAnh.url }}" alt="{{ sp.TenSP }}" style="max-height: 150px;"></a>
                </div>
                <div style="height: 48px; margin-bottom: 5px;" class="Product_name"><a href="#">{{ sp.TenSP }}</a></div>
                <div>
                    {% with sp.So_sao|star_rating as rating %}
                        {% for _ in rating.full_stars %}
                            <i class="fa-solid fa-star"></i>
                        {% endfor %}
                        {% if rating.half_star %}
                            <i class="fa-solid fa-star-half-alt"></i>
                        {% endif %}
                        {% for _ in rating.empty_stars %}
                            <i class="fa-regular fa-star"></i>
                        {% endfor %}
                    {% endwith %}
                </div>
                <span style="font-weight: bold; color: #707070;">Mã sản phẩm: {{ sp.id }}</span>
                <div>
                    {% if sp.GiamGia != 0 %}
                        <span class="Product_after_discount">{{ sp.Tien_sau_giamgia|add_commas }} ₫</span>
                        <span class="Product_full_price">{{ sp.DonGia|add_commas }} ₫</span>
                    {% else %}
                        <span class="Product_after_discount">{{ sp.Tien_sau_giamgia|add_commas }} ₫</span>
                    {% endif %}
                </div>

                <div class="product_buttons">
                    <a class="add_to_cart_button" href="{% url 'ThemVaoGioHang' sp.id %}"><i class="fa-solid fa-cart-shopping"></i></a>
                    <a class="view_details_button" href="{% url 'ChiTiet' sp.id %}"><i class="fa-regular fa-eye"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}